/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.laporan p {
  font-size: 2.1rem;
}
.laporan i {
  font-size: 4rem;
}
#kasus {
  font-size: 2.1rem;
}

@media only screen and (min-width: 200px) {
  .laporan p {
    font-size: 1.1rem;
  }
  .laporan i {
    font-size: 3rem;
  }
  #kasus {
    font-size: 2.1rem;
  }
}
